[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/SDL_image"]
	path = submodules/SDL_image
	url = https://github.com/libsdl-org/SDL_image
